DEBUG=1
SECRET_KEY=change-me-before-production
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://pakline_user:strong_password@127.0.0.1:5432/pakline
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=PakLine <no-reply@pakline.ru>
MANAGER_EMAIL=
CLOUDINARY_URL=
